body {
    background-color: #0C195C;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.label {
    color: #581369;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: bold;
    line-height: 21px;
    letter-spacing: 10%;
    text-align: center;
}

.placeholder {
    font-family: "Quicksand", sans-serif;
    font-size: 10;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 10%;
}

.option {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 10%;
}

.h1 {
    color: #581369;
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 10%;
    text-align: center;
}

.submit-btn {
    width: 170px;
    height: 60px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 10%;
    border-radius: 10px;
    background-color: #581369;
    color:#FBDBFF;
    align-self: center;
}

.full-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 50px;
    width: 400px; 
    background-color: #FBDBFF;
    border-radius: 20px;
    border-color: #5C69AD;
    border-style:dotted;
    border-width: 7px;
}